@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --fixed-header-height: 4.5rem;
}


body {
  width: 90%;
  height: 90vh;
  overflow-x: hidden;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Background.jpg);
  background-position: center;
  background-size: cover;
  height: 140vh;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: #072f42;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 90%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1030px;
    margin: 0 auto;
  }
}

.header {
  height: 5rem;
  padding: 0 2rem;
}

.nav {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h3 {
  font-size: 25px;
  color: rgb(80, 41, 80);
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 18px;
  line-height: 25px;
  color: #092567;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.nav_menu_link:hover {
  color:rgb(12, 8, 57);
}
.toggle_btn {
  font-size: 22px;
  font-weight: 700;
  color: var(--lg-heading);
  z-index: 3;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 2% !important;
}
/* ====  WRAPPER ==== */
.wrapper {
  width: 90%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 8rem;
  margin-bottom: 8rem;
}
.grid-cols-2 {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grid-item-1 {
  padding-top: 8rem;
  padding-left: 1.7rem;
}
.main-heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 40px;
  color: rgb(148, 74, 119);
}
.main-heading span {
  color: rgb(183, 242, 46);
  font-weight: 900;
  font-size: 60px;
}
.info-text {
  margin-top: 1.7rem;
  font-size: 22px;
  line-height: 25px;
  color:rgb(87, 9, 9);
}
.btn_wrapper {
  margin-top: 3.8rem;
  display: flex;
  width: 90%;
}
.btn {
  width: 140px;
  height: 70px;
  background-color: rgba(168, 7, 26, 0.986);
  display: block;
  font-size: 18px;
  color: #9c6e6e;
  text-transform: capitalize;
  border-radius: 10px;
  letter-spacing: 3px;
  transition: 0.6s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: rgba(2, 20, 28, 0.432);
}
.view_more_btn {
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1;
  color: #970c0c;
  font-weight: 700;
  margin-right: 12px;
  box-shadow: 0 0.5rem 1.5rem rgba(87, 6, 63, 0.1);
}
.view_more_btn i {
  margin-left: 0.5rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation_btn {
  width: 170px;
  height: 75px;
  font-size: 18px;
  font-weight: 700;
  color: #a03d3d;
  letter-spacing: 0;
  background-color: #ca1ec7;
  color: #21700d;
  box-shadow: 0 0.5rem 1.5rem rgba(123, 7, 44, 0.1);
}
.documentation_btn:hover {
  background-color: #5bfb95;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 90%;
  height: 90%;
}
.team_img_wrapper {
  width: 700px;
  max-width: 90%;
  height: 470px;
}
.team_img_wrapper img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 3rem;
  padding: 2rem;
}
.grid-col-item {
  height: 90%;
}
.icon {
  width: 90%;
  line-height: 60px;
}
.icon svg {
  width: 45px;
  height: 45px;
  color: rgb(245, 11, 11);
}
.featured_info {
  width: 90%;
}
.featured_info span {
  width: 90%;
  display: block;
  font-size: 24px;
  line-height: 40px;
  color:rgb(119, 167, 148);
}
.featured_info p {
  display: block;
  width: 90%;
  margin-top: 10px;
  font-weight: 500;
  color: rgb(112, 36, 36);
  line-height: 30px;
  font-size: 17px;
}
footer {
  width: 90%;
  background-color: var(--primary-color);
  height: 14px;
  margin-top: 6rem;
}

@media screen and (min-width: 775px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 775px) {
  .logo h2 {
    font-size: 25px;
  }
  .nav_menu {
    position: fixed;
    width: 85%;
    height: 90%;
    display: block;
    top: 2.8%;
    right: -90%;
    background-color: #1a8188;
    padding: 5rem;
    border-radius: 13px;
    box-shadow: 0 0.5rem 1.5rem rgba(23, 213, 108, 0.1);
    z-index: 60;
    transition: 0.6s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 20px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 12%;
    font-size: 28px;
    color: #696e23;
  }
  .close_btn:hover {
    color: #902626;
  }
  .wrapper {
    padding: 0 0.5rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 40px;
  }
  .view_more_btn {
    width: 160px;
    height: 75px;
    font-size: 15px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 36px;
    text-align: center;
    line-height: 45px;
  }
  .info-text {
    font-size: 18px;
    text-align: center;
    padding: 0.9rem;
  }
  .btn_wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 380px;
    height: 380px;
  }
  .featured_info span {
    font-size: 22px;
  }
}