*{
   padding: 2;
   margin: 2;
   font-family: 'Bodoni', serif;
}
body{
   background-color: rgb(150, 108, 192);
   display: grid;
   height: 90vh;
   place-items: center;
}
.main{
   width: 400px;
   height: 570px;
   background-color:rgb(73, 164, 188);
   position: absolute;
   border: 8px solid rgb(193, 81, 81);
   border-radius: 8px; 
}
.main input[type='text'] {
   width: 90%;
   position: relative;
   height: 70px;
   top: 8px;
   text-align: center;
   padding: 5px 8px;
   outline: none;
   font-size: 60px;
   border: 8px solid rgb(130, 114, 202);
   display: flex;
   margin: auto;
   border-radius: 8px;
   color: rgb(232, 131, 131);
}
.btn input[type='button']{
   width:90px;
   padding: 4px;
   margin: 4px 0px;
   position: relative;
   left: 15px;
   top: 22px;
   height: 80px;
   cursor: pointer;
   font-size: 22px;
   transition: 0.7s;
   background-color:rgb(243, 165, 235) ;
   border-radius: 8px;
   color: rgb(187, 65, 140);
}
.btn input[type='button']:hover{
   background-color: rgb(40, 140, 228);
   color: rgb(53, 171, 185);
}